body {
    background-color: #555;
    margin: 0;
}

h1 {
    margin: 0;
}

.subscription-form {
    background-color: #333;
    color: white;
    font-family: sans-serif;
    padding: 10px;
    border: 3px solid rgb(255, 125, 4);
    

}

.subscription-form h1 {
    margin-bottom: 10px;
    
}

.subscription-form>label,
.subscription-form>.options>div {
    display: block;
    padding: 5px;

}

.subscription-form>label>input {
    padding: 10px;
    background-color: #ccc;
    border: 3px solid orange; 
    border-radius: 10px;
    outline: none;
}

.subscription-form>label>input:focus {
    background-color: white;
}

.subscription-form>button {
    padding: 10px;
}

.subscription-form>button:hover {
    background-color: darkorange;
}

.subscription-form>.options input {
    display: none;
    
}

.subscription-form>.options label::before {
    content: "▢";
    color: "999";

}

.subscription-form>.options input:checked + label::before {
    content: "▣";
    color: orange;
}






